In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("Water/Aquifer_Petrignano.csv")
df.head()

,date,rainfall,depth_to_groundwater,temperature,drainage_volume,river_hydrometry
0,2009.01.01,0.0,-31.14,5.2,-24530.688,2.4
1,2009.01.02,0.0,-31.11,2.3,-28785.888,2.5
2,2009.01.03,0.0,-31.07,4.4,-25766.208,2.4
3,2009.01.04,0.0,-31.05,0.8,-27919.296,2.4
4,2009.01.05,0.0,-31.01,-1.9,-29854.656,2.3

In [3]:
df2 = pd.read_csv("Water/Aquifer_Doganella.csv")
df2.head()

,Date,Rainfall_Monteporzio,Rainfall_Velletri,Depth_to_Groundwater_Pozzo_1,Depth_to_Groundwater_Pozzo_2,Depth_to_Groundwater_Pozzo_3,Depth_to_Groundwater_Pozzo_4,Depth_to_Groundwater_Pozzo_5,Depth_to_Groundwater_Pozzo_6,Depth_to_Groundwater_Pozzo_7,...,Volume_Pozzo_1,Volume_Pozzo_2,Volume_Pozzo_3,Volume_Pozzo_4,Volume_Pozzo_5+6,Volume_Pozzo_7,Volume_Pozzo_8,Volume_Pozzo_9,Temperature_Monteporzio,Temperature_Velletri
0,01/01/2004,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.30,8.60
1,02/01/2004,0.2,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.70,6.25
2,03/01/2004,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.40,9.80
3,04/01/2004,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.35,5.95
4,05/01/2004,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,5.85

In [4]:
df22 = df2.iloc[-4199:,3]
df22.fillna(0, inplace=True)
df22

1827     0.00
1828     0.00
1829     0.00
1830     0.00
1831     0.00
        ...
6021   -50.32
6022   -50.32
6023   -50.32
6024   -50.32
6025   -50.78
Name: Depth_to_Groundwater_Pozzo_1, Length: 4199, dtype: float64

In [5]:
df['Depth_to_Groundwater_Pozzo_1'] = df22
df.fillna(0, inplace=True)
df.to_csv("Water/Aquifer_Petrignano1.csv", index=False)

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv("Water/Aquifer_Petrignano copy.csv")
df.head()
df.fillna(0, inplace=True)
df.to_csv("Water/Aquifer_Petrignano2.csv", index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'Water/Aquifer_Petrignano copy.csv'

In [2]:
df

,date,rainfall,depth_to_groundwater,temperature,drainage_volume,river_hydrometry
0,01.01.2009 00:00:00,0.0,-31.14,5.2,-24530.688,2.4
1,01.02.2009 00:00:00,0.0,-31.11,2.3,-28785.888,2.5
2,01.03.2009 00:00:00,0.0,-31.07,4.4,-25766.208,2.4
3,01.04.2009 00:00:00,0.0,-31.05,0.8,-27919.296,2.4
4,01.05.2009 00:00:00,0.0,-31.01,-1.9,-29854.656,2.3
...,...,...,...,...,...,...
4194,06.26.2020 00:00:00,0.0,-25.07,25.7,-29930.688,2.5
4195,06.27.2020 00:00:00,0.0,-25.11,26.2,-31332.960,2.4
4196,06.28.2020 00:00:00,0.0,-25.19,26.9,-32120.928,2.4
4197,06.29.2020 00:00:00,0.0,-25.18,26.9,-30602.880,2.4
4198,06.30.2020 00:00:00,0.0,-25.25,27.3,-31878.144,2.4